<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="Nitro.ws | Index">
    <meta property="og:site_name" content="Nitro">
    <meta property="og:description" content="A website for the bot Nitro">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://nitro.ws">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/264087705124601856/1d942978699293c6e234b9dbbb58008d.png">
    <title>Nitro</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo">Nitro</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Commands</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Commands</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center blue-gray-text text-lighten-2">Nitro
                    <div class="row center">
                        <h5 class="header col s12 light">Moderation - Server Management - Music</h5>
                    </div>
                    <div class="row center">
                        <a href="https://discordapp.com/oauth2/authorize?client_id=264087705124601856&scope=bot&permissions=268435510" id="download-button" class="btn btn-large waves-effect z-depth-3 light-blue lighten-5 pulse light-blue-text text-darken-3"><strong>Invite</strong></a>

                    </div class="row center">
                    <a href="https://discordapp.com/oauth2/authorize?client_id=264087705124601856&scope=bot" id="download-button-minimal" class="btn btn-large waves-effect z-depth-3 light-blue lighten-5 pulse light-blue-text text-darken-3"><strong>Invite Minimal</strong></a>
                    <div>
                    </div>
                    <br><br>

            </div>
        </div>
        <div class="parallax"><img src="images/background1.png" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Optimized</h5>

                        <p class="light">Nitro is run on a lightning fast server in nodejs.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Interactive</h5>

                        <p class="light">Nitro will enhance your server with advanced moderation and user interaction.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Fully Customizable</h5>

                        <p class="light">Every element of Nitro can be fully customized to fit your needs.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">The next best thing in server management</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="images/background1.png" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="center infotop">

                    <a class="btn btn-large waves-effect z-depth-3 light-blue accent-2 blue-grey-text text-lighten-5 infotop" href=""><i class="fa fa-server"></i><strong>  Official Server</strong></a>
                    <a class="btn btn-large waves-effect z-depth-3 orange lighten-1 blue-grey-text text-lighten-5 infotop" href=""><i class="fa fa-credit-card"></i><strong>  Patreon</strong></a>
                    <a class="btn btn-large waves-effect z-depth-3 blue-grey darken-3 blue-grey-text text-lighten-5 infotop" href=""><i class="fa fa-github"></i><strong>  Github</strong></a>

                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">

            </div>
        </div>
        <div class="parallax"><img src="images/background1.png" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer light-blue lighten-1">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="white-text" href="http://nitro.ws">Funnbot</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/materialize.js"></script>

</body>

</html>